.topbar{
    display: flex;
    justify-content: space-between;
}

.topbar-left{
    margin-left: 100px;
    display: flex;
    align-items: center;
    
}

.Form{
    margin-top: 20px;
    
}
.topbarIconContainer{
    position: relative;
    cursor: pointer;
}

.topbar-right{
    display: flex;
    align-items: center;
    margin-right: 90px;
}
.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: #EB5757;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.profile-section{
    display: flex;
    margin-right: 30px;
    margin-left: 20px;
}

.profile-name{
    margin-left: 20px;
    font-weight: 700;
}

.designation{
    font-weight: 400;
}
